.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.numericMetrics {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.chartMetrics {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
  justify-content: space-around;
}
