@import '_colors';

.container {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  height: 100%;
  // border: 1px solid black;
  width: 100%;
}

iframe {
  // margin: 10px;
  width: 100%;
  // border: 30px solid $color1;
  // padding: 10px;
  border-radius: 5px;
}
