@import '_colors.scss';

.loginBox {
  display: flex;
  flex-direction: column;
  border: 1px solid $color4;
  padding: 80px;
  border-radius: 15px;
  background: $color1;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  height: 90%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  margin: 2px 2px 4px 2px;
  font-size: 20px;
  // padding: 3px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid $color2;
  height: 30px;
}

.input:hover {
  background-color: rgb(251, 251, 251);
}

.buttons {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  // border: 1px solid black;

}

.primaryButton {
  color: $color1;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 0px;
  margin: 2px 2px 4px 2px;
  background-color: $color2;
  border: 1px solid $color2;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  
}

.primaryButton:hover, .primaryButton:focus, .primaryButton:active {
  color: $color1;
  cursor: pointer;
  background: #193f59;
}
.primaryButton:hover:before, .secondaryButton:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

::placeholder {
  font-size: 15px;
  color: $color2
}

.header {
  color: $color2;
  text-align: center;
  font-size: xx-large;
}

.secondaryButton {
  color: $color2;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 0px;
  margin: 2px 2px 4px 2px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  
}

.secondaryButton:hover, .secondaryButton:focus, .secondaryButton:active {
  color: $color2;
  cursor: pointer;
  background-color: #dfdfdf;
}
.secondaryButton:hover:before, .secondaryButton:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

