@import '_colors.scss';

.loginBox {
  display: flex;
  flex-direction: column;
  border: 1px solid $color4;
  padding: 80px;
  border-radius: 15px;
  background: rgba(72, 18, 16, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
}

.container {
  height: 90%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  margin: 15px 5px 15px 5px;
  font-size: 20px;
  padding: 3px;
  border-radius: 5px;
  border: none;
}

.secondaryButton {
  color: $color3;
  outline: none;
  border: 1px solid $color3;
  border-radius: 5px;
  font-size: 20px;
  padding: 0px;
  margin: 5px;
}

.primaryButton {
  color: $color4;
  outline: none;
  background-color: $color2;
  border: 1px solid $color2;
  border-radius: 5px;
  font-size: 20px;
  padding: 0px;
  margin: 5px;
}

.header {
  color: $color4;
  align-self: center;
}
