@import '_colors';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
}

.header {
  display: flex;
  flex: 1;
  background-color: $color3;
  align-items: center;
}

.link {
  margin: 10px;
  text-decoration: none;
  color: $color3;
  outline: none;
  border: 1px solid $color1;
  background-color: $color4;
  border-radius: 5px;
  font-size: 20px;
  padding: 2px;
}

.outlet {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  flex: 14;
  background: rgb(162, 72, 79);
  background: radial-gradient(
    circle,
    rgba(162, 72, 79, 1) 0%,
    rgba(109, 40, 42, 1) 21%,
    rgba(43, 11, 10, 1) 53%
  );
}
