@import '_colors';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
}

.header {
  display: flex;
  flex: 1;
  background-color: $color2;
  align-items: center;
}

.link {
  margin: 10px;
  text-decoration: none;
  color: $color1;
  outline: none;

  border-radius: 5px;
  font-size: 20px;
  padding: 2px;
}

.outlet {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  flex: 14;
  background-color: $color4;
}
